{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
  <title>{% block title %}{% endblock %}</title>

    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Loading main css file -->

  </head>

  <body>

    <div class="site-content">
      <div class="site-header">
        <div class="container">
          <a href="{% url 'home' %}" class="branding">
            <img src="{%static 'images/logo.png' %}" alt="" class="logo">
            <div class="logo-type">
              <h1 class="site-title"> Weather Sense </h1>
              <small class="site-description">Real time weather forecast</small>
            </div>
          </a>

          
          <!-- Default snippet for navigation -->
          <div class="main-navigation">
          <div class="name" style="margin: 0px 15px; margin-bottom: 4px;">
            Welcome {{request.user}}
          </div>
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
              <li class="menu-item current-menu-item" id="omar"><a href="{% url 'home' %}">Home</a></li>
              <li class="menu-item current-menu-item" id="logout"><a href="{% url 'logout' %}">logout</a></li>
            </ul> <!-- .menu -->
          </div> <!-- .main-navigation -->

          <div class="mobile-navigation"></div>

        </div>
      </div> <!-- .site-header -->

      <div class="about_container" style="position: relative; z-index: 1; max-width: 600px; margin: 0 auto;">
        <p>WeatherSense is a web app that uses advanced machine learning algorithms to predict weather and later on future weathers based on the weather forecast data – precipitation, wind speed, humidity, temperature, maximum temperature, and cloud cover – over the next 7 days. 
            The fundamental objective is to empower individuals, communities, and government agencies with real-time insights, enabling informed decision-making, disaster preparedness, and enhanced public safety.
            This platform would transcend traditional weather forecasting applications by delivering comprehensive, real-time weather insights, ensuring users are informed, prepared, and ready to make informed decisions in a rapidly changing climate.
            Hence, it would operate at the intersection of meteorology, data analysis, and user-friendly technology, designed to make vital information accessible, thereby enhancing individual and community resilience in the face of dynamic environmental conditions.</p>
      </div>

      <footer class="site-footer">
        <div class="container">
          <p class="colophon">Copyright 2021, All rights reserved Weather Sense Team</p>
        </div>
      </footer> <!-- .site-footer -->
    </div>

    <script src="{%static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{%static 'js/plugins.js' %}"></script>
    <script src="{%static 'js/app.js' %}"></script>

  </body>

</html>